<div id='links_menu'>
  <%= link_to 'Niños',ninos_path %>
  <%= link_to 'Iglesias',iglesias_path %>
  <%= link_to 'Familias',familias_path %>
  <%= link_to 'Oficinas',oficinas_path %>
  <%= link_to 'Donantes',donantes_path %>
  <%= link_to 'Redes',reds_path %>
</div>
